# # 新建uv虚拟环境
# uv venv .venv --python=python3

# # 激活
# .\.venv\Scripts\activate

# # 但是pytorch很多依赖，建议用python系统环境3.11
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu126

# Core dependencies
opencv-python
numpy
Pillow
pillow-heif
PyQt5
ultralytics
timm
torch
torchvision

# Optional dependencies
flask
matplotlib
scipy
pyyaml
tqdm
safetensors
psutil
polars
httpx
requests
seaborn
pandas
albumentations
onnx
git+https://github.com/ultralytics/CLIP.git
